/* ตำแหน่งและขนาดของหน้า */
.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: 'sriracha', cursive;
    
}

/* คอนเทนเนอร์หลัก */
.reset-password-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* หัวข้อ */
.reset-password-title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

/* ช่องกรอกข้อมูล */
.input-field {
    margin-bottom: 15px;
    text-align: left;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-field input:focus {
    outline: none;
    border-color: #10b655;
    box-shadow: 0 0 5px rgba(20, 131, 20, 0.5);
}

/* ปุ่ม */
.button-all {
    margin-top: 20px;
}

.reset-password-button {
    background: #1cb17a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.reset-password-button:hover {
    background: #0e6a1a;
    transform: scale(1.05); /* เพิ่มเอฟเฟกต์ขยาย */
}