body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.register-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.register-logo img {
    max-width: 150px;
    height: auto;
}

.register-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.register-form {
    width: 80%;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    background-color: #fff;
}

.input-field input:focus {
    outline: none;
    border-color: #007BFF;
}

.register-button,
.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.register-button {
    background-color: #28A745;
}

.login-button {
    background-color: #007BFF;
}

.register-button:hover,
.login-button:hover {
    opacity: 0.9;
}